{# ezobjectrelationlist is used here for after udw selection with default js file aka: ezobjectrelationlist-settings. No need to rewrite the JS. In future Ibexa version check if the ezobjectrelationlist still have that name #}
{% block locationrelationlist_field_definition_edit %}
    {% set is_translation = is_translation ?? false %}
    <div class="ezobjectrelationlist-settings selection-default-location">
        {{- form_row(form.selectionDefaultLocation) -}}

        <div class="mt-1">
            <button
                    data-universaldiscovery-title="{{ "field_definition.locationrelationlist.selection_root_udw_title"
                    |trans({}, "content_type")
                    |desc("Select where to start browsing for Relations") }}"
                    class="btn ibexa-btn ibexa-btn--secondary ibexa-btn--udw-relation-default-location"
                    data-relation-root-input-selector="#{{ form.selectionDefaultLocation.vars.id }}"
                    data-relation-selected-root-name-selector="#{{ form.selectionDefaultLocation.vars.id }}-selected-root-name"
                    data-starting-location-id="{{ ibexa_admin_ui_config.universalDiscoveryWidget.startingLocationId|default(1) }}"
                    data-udw-config="{{ ibexa_udw_config('single_container', {}) }}"
                    {{ is_translation ? 'disabled' : '' }}
            >{{ "field_definition.locationrelationlist.selection_root_udw_button"
                |trans({}, "content_type")
                |desc("Select Location") }}</button>
            <button
                    type="button"
                    title="{{ "field_definition.locationrelationlist.selection_root_reset_title"
                    |trans({}, "content_type")
                    |desc('Reset starting location') }}"
                    class="ibexa-btn ibexa-btn--reset-starting-location btn"
                    data-relation-root-input-selector="#{{ form.selectionDefaultLocation.vars.id }}"
                    data-relation-selected-root-name-selector="#{{ form.selectionDefaultLocation.vars.id }}-selected-root-name"
                    {% if form.selectionDefaultLocation.vars.destination_location is null %} disabled {% endif %}
            >
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                </svg>
            </button>
        </div>
        <div id="{{ form.selectionDefaultLocation.vars.id }}-selected-root-name">
            {% if form.selectionDefaultLocation.vars.destination_location is not null %}
                {{ ibexa_content_name(form.selectionDefaultLocation.vars.destination_location.contentInfo) }}
            {% endif %}
        </div>
    </div>

    <div class="locationrelationlist-settings selection-content-types mt-1">
        {{- form_row(form.selectionContentTypes) -}}
    </div>

    <div class="locationrelationlist-settings selection-limit">
        {{- form_row(form.selectionLimit) -}}
    </div>
{% endblock %}